<?xml version="1.0" ?>
<module>

<User f="nodata">
  <User f="noscroll">
    <Users f="user" l="Scan_Record"/>
  </User>
</User>

<Scan_Record>
  <Tab>
    <Do t="button"/>
    <ID f="id notnull"/>
    <Attach_New_Files t="button"/>
    <File_Type>
      <opts>
        <opt>Article</opt>
        <opt>Book</opt>
        <opt>Document</opt>
        <opt>Image</opt>
        <opt>Oral</opt>
        <opt>Thesis</opt>
        <opt>Video</opt>
      </opts>
    </File_Type>
    <Language>
      <opts>
        <opt>English</opt>
        <opt>Malay</opt>
        <opt>Chinese</opt>
      </opts>
    </Language>
    <Repository>
      <opts>
        <opt>Australia — Australian Red Cross Archives</opt>
        <opt>Australia — Australian War Memorial</opt>
        <opt>Australia — National Archives, Canberra</opt>
        <opt>Australia — National Archives, Sydney</opt>
        <opt>Australia — National Archives, Melbourne</opt>
        <opt>Australia — National Archives, Other</opt>
        <opt>Australia — National Library</opt>
        <opt>Australia — Public Record Office of Victoria</opt>
        <opt>Australia — Salvation Army Archives</opt>
        <opt>Australia — State Records — NSW</opt>
        <opt>Australia — State Records — Other</opt>
        <opt>Internet</opt>
        <opt>Japan — Other</opt>
        <opt>Library — Other</opt>
        <opt>Malaysia — Other</opt>
        <opt>Singapore — National Archives</opt>
        <opt>Singapore — Other</opt>
        <opt>United Kingdom — Imperial War Museum</opt>
        <opt>United Kingdom — National Archives</opt>
        <opt>United States — National Archives and Record Administration</opt>
      </opts>
    </Repository>
    <Garrison>
      <opts>
        <opt>Hong Kong — Little Sai Wan</opt>
        <opt>Japan — Bofu</opt>
        <opt>Japan — Iwakuni</opt>
        <opt>Japan — Kure</opt>
        <opt>Japan — General</opt>
        <opt>Malaysia — Butterworth</opt>
        <opt>Malaysia — Terandak</opt>
        <opt>Singapore</opt>
        <opt>Thailand — Ubon</opt>
      </opts>
    </Garrison>
    <Period_From b="date"/>
    <Period_Till b="date"/>
    <Doc_Name/>
    <File_Reference/>
    <Theme>
      <opts>
        <opt>Architecture/Space</opt>
        <opt>Crime/Punishment</opt>
        <opt>Economics</opt>
        <opt>Education</opt>
        <opt>Gender</opt>
        <opt>Host Communities</opt>
        <opt>Legacy/Remembering</opt>
        <opt>Media</opt>
        <opt>Medical</opt>
        <opt>Military</opt>
        <opt>Politics</opt>
        <opt>Race</opt>
        <opt>Social</opt>
      </opts>
    </Theme>
    <Sub-Theme>
      <opts>
        <opt>
          Architecture/Space
          <opt>Base layout</opt>
          <opt>Facilities</opt>
          <opt>Historiography and theory</opt>
          <opt>One-base buildings</opt>
          <opt>Off-base buildings</opt>
          <opt>Security</opt>
          <opt>Other</opt>
        </opt>
        <opt>
          Crime/Punishment 
          <opt>Historiography and theory</opt>
          <opt>Local law</opt>
          <opt>Military law </opt>
          <opt>Case law</opt>
          <opt>Other</opt>
        </opt>
        <opt>
          Economics 
          <opt>Base</opt>
          <opt>Historiography and theory</opt>
          <opt>Local economy </opt>
          <opt>Shopping </opt>
          <opt>Withdrawal impact</opt>
          <opt>Other</opt>
        </opt>
        <opt>
          Education 
          <opt>Curriculum</opt>
          <opt>Facilities</opt>
          <opt>Historiography and theory</opt>
          <opt>Parents </opt>
          <opt>Schools</opt>
          <opt>Students</opt>
          <opt>Teachers</opt>
          <opt>Other</opt>
        </opt>
        <opt>
          Gender
          <opt>Children</opt>
          <opt>Fathers</opt>
          <opt>Historiography and theory</opt>
          <opt>Husbands</opt>
          <opt>Mothers</opt>
          <opt>Sexual Relations — with other Australians</opt>
          <opt>Sexual Relations — with Locally Employed Civilians</opt>
          <opt>Sexual Relations  — other</opt>
          <opt>Wives</opt>
          <opt>Women</opt>
        </opt>
        <opt>
          Host Communities 
          <opt>Interactions </opt>
          <opt>Historiography and theory</opt>
          <opt>Opposition </opt>
          <opt>Perceptions </opt>
          <opt>Locally Employed Civilians</opt>
          <opt>Other </opt>
        </opt>
        <opt>
          Legacy/Remembering 
          <opt>Australians</opt>
          <opt>Local community</opt>
          <opt>Historiography and theory</opt>
          <opt>Other</opt>
        </opt>
        <opt>
          Media
          <opt>Electronic — Local</opt>
          <opt>Electronic — Australian</opt>
          <opt>Electronic — Other</opt>
          <opt>Historiography and theory</opt>
          <opt>Print — Local</opt>
          <opt>Print — Australian</opt>
          <opt>Print — Other</opt>
          <opt>Other</opt>
        </opt>
        <opt>
          Medical 
          <opt>Case History</opt>
          <opt>Facilities</opt>
          <opt>Historiography and theory</opt>
          <opt>Local communities</opt>
          <opt>Other </opt>
        </opt>
        <opt>
          Military
          <opt>Accidents</opt>
          <opt>Equipment </opt>
          <opt>Families and dependents</opt>
          <opt>Historiography and theory</opt>
          <opt>Host military</opt>
          <opt>Justice</opt>
          <opt>Logistics </opt>
          <opt>Operations</opt>
          <opt>Personnel</opt>
          <opt>Other</opt>
        </opt>
        <opt>
          Politics
          <opt>Colonialism</opt>
          <opt>Garrison — Establishment </opt>
          <opt>Garrison — Operation </opt>
          <opt>Garrison — Withdrawal </opt>
          <opt>Historiography and theory</opt>
          <opt>Relations — Bilateral — Singapore</opt>
          <opt>Relations — Bilateral — Malaysia</opt>
          <opt>Relations — Bilateral — Hong Kong</opt>
          <opt>Relations — Bilateral — Japan</opt>
          <opt>Relations — Bilateral — NZ</opt>
          <opt>Relations — Bilateral — UK</opt>
          <opt>Relations — Bilateral — USA</opt>
          <opt>Relations — Regional</opt>
          <opt>Relations — International</opt>
          <opt>White Australia Policy</opt>
          <opt>Other </opt>
        </opt>
        <opt>
          Race
          <opt>Interaction/engagement</opt>
          <opt>Historiography and theory</opt>
          <opt>Language and terms</opt>
          <opt>White Australia Policy</opt>
          <opt>Other</opt>
        </opt>
        <opt>
          Social 
          <opt>Families</opt>
          <opt>Food</opt>
          <opt>Historiography and theory</opt>
          <opt>Housing</opt>
          <opt>Interaction/engagement</opt>
          <opt>Relationships</opt>
          <opt>Sport</opt>
          <opt>Other</opt>
        </opt>
      </opts>
    </Sub-Theme>
  </Tab>
  <Files f="hidden">
    <Files t="file"/>
  </Files>
</Scan_Record>

<logic><![CDATA[
  addOnEvent("Scan_Record/Tab/Attach_New_Files", "click", "attachNewFiles()");

  lastFileList = new ArrayList();

  getFileList() {
    // TODO make sure this doesn't choke if dir doesn't exist
    String dirPath   = "/sdcard/DCIM/AZCamera";
    File   dir       = new File(dirPath);
    if (!dir.exists()) {
      return new ArrayList();
    }

    File[] fileArray = dir.listFiles();
    List   files     = Arrays.asList(fileArray);
           files     = new ArrayList(files);       // This makes `files` mutable
    return files;
  }

  fileListToString(files) {
    String s = "";
    for (i = 0; i < files.size(); i++) s += files.get(i).getName() + "\n";
    return s;
  }

  attachAll(files) {
    for (i = 0; i < files.size(); i++) {
      ref      = "Scan_Record/Files/Files";
      filePath = files.get(i).getAbsolutePath();
      addFile(ref, filePath);
    }
  }

  attachNewFiles() {
    thisFileList = getFileList();

    newFiles = new ArrayList(thisFileList);
    newFiles = getFileList();
    newFiles.removeAll(lastFileList);

    lastFileList = thisFileList;

    if (newFiles.size() == 0) {
      showWarning("No new files found", "");
    } else {
      attachAll(newFiles);
      s = fileListToString(newFiles);
      showWarning("New files found", s);
    }

    //saveTabGroup("Scan_Record");
    return newFiles;
  }

/*************************** PERIOD INITIALISATION ****************************/
  addOnEvent("Scan_Record", "show", "initialisePeriods()");

  initialisePeriods() {
    setFieldValue("Scan_Record/Tab/Period_From", "07/07/1937");
    setFieldValue("Scan_Record/Tab/Period_Till", "02/09/1945");
  }

/************************** SUB-THEME INPUT: "OTHER" **************************/
  addOnEvent("Scan_Record/Tab/Sub-Theme", "click", "checkForMoreInput()");

  subThemeVocab = new ArrayList();
  fetchVocab("Sub-Theme", subThemeVocab, "getOtherVocabId()");

  otherVocabIds = new ArrayList();
  getOtherVocabId() {
    for (vocabEntry : subThemeVocab) {
      vocabId   = vocabEntry.get(0);
      vocabName = vocabEntry.get(1);
      if (vocabName.equals("{Other}")) {
        otherVocabIds.add(vocabId);
      }
    }
  }

  checkForMoreInput() {
    ref = "Scan_Record/Tab/Sub-Theme";
    val = getFieldValue(ref);
    if (otherVocabIds.contains(val)) {
      cb = "getMoreInput()";
      showTextAlert("You selected '{Other}'", "Please enter a sub-theme", cb, "");
    } else {
      clearMoreInput();
    }
  }

  getMoreInput() {
    ref   = "Scan_Record/Tab/Sub-Theme";
    input = getLastTextAlertInput();
    setFieldAnnotation(ref, input);
  }

  clearMoreInput() {
    ref   = "Scan_Record/Tab/Sub-Theme";
    input = "";
    setFieldAnnotation(ref, input);
  }
]]></logic>
</module>
